
# Visual Studio Code
.vscode

# Scala
*.class
*.tasty
*.log
*.jar
project/project/
project/target/
target/

# Metals
.metals
.bloop
metals.sbt
# Scala CLI / Mill / BSP build artefacts
.bsp/
.scala-build/
out/
